/* Copyright © 2016 Kuali, Inc. - All Rights Reserved
 * You may use and modify this code under the terms of the Kuali, Inc.
 * Pre-Release License Agreement. You may not distribute it.
 *
 * You should have received a copy of the Kuali, Inc. Pre-Release License
 * Agreement with this file. If not, please write to license@kuali.co.
 */

.frame {
  border: 1px solid #ccc;
  height: 310px;
  overflow-x: auto;
  overflow-y: hidden;
}

.container {
  transition: 0.25s;
}

.col,
.col-help,
.col-input {
  border-right: 1px solid #cbcbcb;
  float: left;
  height: 310px;
  overflow: hidden;
  width: 180px;
}

.col-help {
  background-color: #e1e1e1;
  padding: 36px 24px;
}

.col-input {
  padding: 36px 24px;
}

.col-input-hdr {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.col-hdr {
  background-color: #656d78;
  border-bottom: 1px solid #cbcbcb;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-filter {
  background-color: #e1e1e1;
  border-bottom: 2px solid #b2b2b2;
  font-weight: 600;
  height: 36px;
  line-height: 24px;
  padding: 0;
}

.col-filter .col-filter-icon {
  float: left;
  margin: 6px 6px 6px 9px;
}

.col-filter .col-filter-textfield {
  float: left;
  width: 140px;
  margin-top: -5px;
}

.col-menu {
  vertical-align: top;
  top: -7px;
}

.col-menu-list {
  box-shadow: none;
  width: 100%;
}

.col-item {
  border-bottom: 1px solid #cbcbcb
}

.col-item--active {
  background-color: #efefef;
  border-bottom: 1px solid #cbcbcb
}

.col-item-none {
  padding: 8px 24px !important;
}

.col-item-tile {
  padding: 8px 24px !important;  
}

.icon {
  font-size: 64px;
}

.input {
  width: 154px;
}